# pip install -r requirements.txt

# base ----------------------------------------
matplotlib==3.5.3
numpy==1.26.2
opencv-python==4.6.0.66
Pillow
PyYAML==6.0.1
scipy==1.11.4
PyQt5 == 5.15.9
torch==2.0.0
torchvision==0.15.1
tqdm==4.66.1
ultralytics==8.2.48

# logging -------------------------------------
tensorboard==2.15.1

# plotting ------------------------------------
seaborn==0.13.2
pandas

